@font-face {
  font-family: "iconfont"; /* Project id 3932306 */
  src: url('iconfont.woff2?t=1678006734304') format('woff2'),
       url('iconfont.woff?t=1678006734304') format('woff'),
       url('iconfont.ttf?t=1678006734304') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tinggeshiqu:before {
  content: "\e64f";
}

.icon-paihangbang:before {
  content: "\e641";
}

.icon-meirituijian1:before {
  content: "\e600";
}

.icon-youshengshu:before {
  content: "\e601";
}

.icon-gedan:before {
  content: "\e602";
}

.icon-sirenFM:before {
  content: "\e603";
}

